<div class="container">
    <section class="section">
        <div class="row">
            <div class="col-md-12 mt-5">
                <div class="card">
                    <div class="card-block form-group">
                        <div class="card-title-block form-group">
                            <a href="/juegos/add" class="btn btn-success fas fa-user-plus"></a>
                        </div>
                        <section class="example">
                            <div class="table-flip-scroll">
                                <table class="table table-striped table-bordered table-hover flip-content">
                                    <thead class="flip-header">
                                        <tr>
                                            <th>ID</th>
                                            <th>Nombre Juego</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each juegos.recordset}}
                                        <tr>
                                            <th>{{id}}</th>
                                            <th>{{nombre_juego}}</th>
                                            <th><a href="/juegos/edit/{{id}}"
                                                    class="btn btn-secondary fa fa-edit"></i></a></th>
                                            <th><a href="/juegos/delete/{{id}}" class="btn btn-danger fa fa-trash"></a>
                                            </th>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>

                        </section>

                    </div>
                </div>
            </div>

        </div>
    </section>
</div>