<div class="container">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/usuarios/add" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="nombre" placeholder="Nombre Usuario" autofocus required>
                        </div>
                        <div class="form-group">
                           <input type="text" class="form-control" name="pass" placeholder="Contraseña" autofocus required>
                        </div>
                        <div class="form-group">
                           <input type="email" class="form-control" name="correo" placeholder="Correo" autofocus required>
                        </div>
                        <div class="form-group">
                           <select name="tipo_usuario" class="form-control" placeholder="Selecione el tipo de usuario" required>
                               <option value="user" selected>Seleccione un tipo de usuario</option>
                               <option value="admin" >Administrador</option>
                               <option value="user" >Usuario</option>
                           </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Guardar
                            </button>                            
                        </div>
                        <div class="form-group">
                            <input class="btn btn-danger btn-block" value="Cancelar" onclick = location="/usuarios/">                             
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>