<div class="container2">
    <center>
        <div class="middle">
            <div id="login">
                <form action="/signin" method="POST">
                    <fieldset class="clearfix">
                        <p>
                            <span class="fa fa-user"></span>
                            <input type="text" title="Ingrese su Correo" name="correo" placeholder="Ej: juan@gmail.com"
                                class="form-control" autofocus required>
                        </p>
                        <p>
                            <span class="fa fa-lock"></span>
                            <input type="password" name="pass" placeholder="Contraseña" class="form-control" required>
                        </p>
                        <div>                            
                            <button class="btn btn-success btn-block">
                                Ingresar
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div> <!-- Fin login -->
            <div class="logo">LOGO</div>
        </div>
    </center>
</div>