<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">                
            <div class="card">
                <div class="card-body">

                    {{!-- crear el local --}}
                    <form action="/locales_admin/" method="POST">                        
                        <div style="align-content: center; text-align: center; margin-top: 10px;">
                            <fieldset class="scheduler-border" style="text-align: center; display: inline-block; align-content: center; width: auto;">
                                <legend>Crear nuevo servidor virtual</legend>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="newLocal" placeholder="Nombre Local" autofocus required>
                                </div>
                                <div class="form-group">                                        
                                    <select name="nombre" class="form-control" required>                                            
                                        <option value="" selected disabled>Seleccione usuario</option>
                                        {{#each userF}}
                                            <option value="{{id}}"> {{nombre}}</option>
                                        {{/each}}
                                    </select>                                    
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success btn-block" type="submit">
                                        Crear
                                    </button>                             
                                </div>
                            </fieldset>
                        </div>                        
                    </form>
                    {{!-- fin Crear Local --}}

                    {{!-- administrar maquinas del local --}}
                    <form action="/locales_admin/" method="POST">
                        <fieldset class="scheduler-border col-lg-12" style="text-align: center;  align-content: center; width: auto;">
                            <legend>Administrar maquinas de servidor virtual</legend>

                            {{!-- buscar local --}}
                            <div style="width:100%;white-space:normal;margin-left: 5px; font-weight: bold;">
                                <div class="form-group">
                                    <select name="locales" class="form-control" required> 
                                        <option value="" hidden>Seleccione el Servidor</option> 
                                        {{#each nombreLocalF}}
                                            <option value="{{id}}"> {{nombre}}</option>
                                        {{/each}}                             
                                    </select>
                                </div> 
                            </div>
                            {{!-- fin Busacr Local --}}
                            <br>

                            {{!-- lista de maquinas--}}                               
                            <div style="height:200px;width:45%;float: left; margin-left: 10px;">
                                <div class="rlbTemplateContent">
                                    <div id="MachinesAssigned_Header" class="rlbHeader">
                                        Maquinas de servidor                                                                                        
                                    </div>
                                    <div class="rlbBody">
                                        <div class="rlbGroup">
                                            <ul class="rlbList">
                                                <li id="MachinesAssigned_i0" class="rlbItem">2500</li>
                                                <li id="MachinesAssigned_i1" class="rlbItem rlbSelected">892</li>
                                                <li id="MachinesAssigned_i2" class="rlbItem">5000</li>
                                                <li id="MachinesAssigned_i3" class="rlbItem">1402</li>
                                                <li id="MachinesAssigned_i4" class="rlbItem">1405</li>
                                                <li id="MachinesAssigned_i5" class="rlbItem">1565</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>                              
                            </div>
                            {{!-- Fin lista de maquinas--}} 

                            {{!-- añadir maquina --}}
                            <div style="width: 50%; display: inline-block; white-space: nowrap; text-align: left; position: relative;">                                
                                <input type="text" class="form-control" placeholder="Numero de maquina a añadir">
                            </div>
                            {{!-- Fin añadir maquina --}}

                            {{!-- botones agregar y eliminar--}}
                            <button type="button" name="AddMachine" value="AÑADIR MAQUINA" id="AddMachine" style="font-weight:bold;width:50%;margin-top: 10px;" >
                                <span >AÑADIR MAQUINA</span>
                            </button>

                            <button type="button" name="RemoveMachine" value="REMOVER MAQUINA SELECCIONADA" style="font-weight:bold;width:50%;margin-top: 10px;" >
                                <span class="rbText">REMOVER MAQUINA SELECCIONADA</span>
                            </button>
                            {{!-- fin botones --}}
                        </fieldset>                   
                    </form>
                    {{!-- Fin administrar maquinas del local --}}
                    
                </div>
            </div>
        </div>
    </div>
</div>